doctype
html 
	head
		title #{title} - My Siteent
		link(rel='stylesheet', href='my.css')
	body
		header
			h1 My Site
			section(class="main hbox space-between")
			nav
			article
			aside
		footer
			p  running on node with express, jade and stylus
			

